$c-white: #f3dcdc;
$c-pink-100:#e8b298;
$c-pink-200:#d3a29d;
$c-pink-800:#a36361;
$c-pink-900:#6b2623;
$c-green-cyan-100:#bdd1c5;
$c-green-cyan-500:#9eaba2;
$c-green-cyan-800:#19e957;
$c-green:#119338;
$c-yellow:#eecc8c;
$c-black: black;
