@import "./fonts.scss";
@import "./colors.scss";

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    margin: 0 auto;
    padding: 1rem 2rem;
    font-family: "salina trial";
    font-size: 1.5rem;
    font-weight: 400;
    -webkit-font-smoothing: auto;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: $c-black;
    background-image: linear-gradient(to right, $c-green-cyan-100, $c-yellow, $c-pink-800);
}

.container {
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
