@import '../../../styles/colors.scss';
.login {
    &__form {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        border: 0.1rem solid $c-green-cyan-100;
        border-radius: 2rem;

        & > label {
            text-align: left;
            font-size: 2rem;
            color: $c-pink-800;
        }
    }

    &__input {
        width: 100%;
        padding: 1rem;
        margin: 0.8rem 0;
        box-sizing: border-box;
        font-size: 2.5rem;
        color: $c-pink-900;
        background-color: $c-white;
        border: 0.2rem solid $c-green-cyan-100;
        border-radius: 1rem;

        &:focus {
            border: 0.5rem solid $c-yellow;
        }

        &.error {
            border: 0.3rem solid red;
        }

        &.valid {
            border: 0.3rem solid $c-green-cyan-800;
        }
    }

    &__error {
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
        text-align: left;
        color: #bf1d1d;
    }
}

.enter__btn {
    width: 100%;
}

@media (max-width: 500px) {
    .login {        
        &__input {
            padding: 1rem;
            font-size: 1.8rem;
    
        &__error {
            font-size: 1.3rem;        }
    }
}
}